In [ ]:
 # print 0 to 20 by using range

In [1]:
for i in range(20):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
 # print range 10 to 20

In [4]:
for i in range(10,20):
    print(i,end=" ")

10 11 12 13 14 15 16 17 18 19

In [6]:
 # Print number of items in the list by using 'len'

"""[10, 20, 14, 55, 43, 87, 76] 
Number of item in the List2:  
7"""

'[10, 20, 14, 55, 43, 87, 76] \nNumber of item in the List2:  \n7'

In [7]:
list=[10,20,14,55,43,87,76]
print("Number of item in the List : ",len(list))

Number of item in the List :  7

In [8]:
a="Artifical Intelligence"
for i in a:
    print(i)

A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [ ]:
# Print this mixered datatype using Tuples

In [12]:
t1=(1,"Hope AI")
t2=(2,"AI")
print(t1+t2)

(1, 'Hope AI', 2, 'AI')

# ((0, 1, 2, 3), ('python', 'HOPE'))

In [15]:
t1=(0,1,2,3)
t2=("Python","HOPE")
t3=t1,t2
print(t3)

((0, 1, 2, 3), ('Python', 'HOPE'))

In [ ]:
# print Odd Numbers in the list 
# (20,10,16,19,25,1,276,188)

In [18]:
list=[20,10,16,19,25,1,276,188]
for i in list:
    if i%2!=0:
        print(i," Odd Number")

19  Odd Number
25  Odd Number
1  Odd Number

In [ ]:
# print Even numbers in the list 
#(20,10,16,19,25,1,276,188)

In [19]:
list=[20,10,16,19,25,1,276,188]
for i in list:
    if i%2==0:
        print(i," even number")

20  even number
10  even number
16  even number
276  even number
188  even number